.stacks{
    margin-top: 20px;
 }
 .stacks h3 {
    font-size: 18px;
  }
  .stacks ul {
    list-style: none;
    display: flex;
gap: 10px;
   }
   .stacks ul li {
   border: 1px solid black ;
   border-radius: 3px;
   padding: 7px 20px;
   margin-top: 10px;
    }
    .html{ 
        background-color: aquamarine;
        color: azure;
        font-weight: 600;
    }